<div class="text-left">
  <h1 class="heading-1">About Me</h1>
  <br>

  <p>
    Hello! I'm Zakwan, a full stack developer based in New York, NY who enjoys building and learning new things that live on the internet. I develop exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends.
  </p>

  <p>
    I completed my Bachelor's degree in Computer Science stream from Symbiosis International University in 2015. Later, I moved to NYC in 2017 and completed web development intensive course from The New York Code + Design Academy. After completing my course I got a golden opportunity to work for same institute as a Teacher Assistant, where I got to implement my learnings and enhance my skills by helping the students which in turn made me a better programmer. Recentlly, I've finished a projects with Fast Advance Funding. Currently, Looking for a full-time job opportunity.
  </p>
  <p>
    As a full stack developer, I enjoy bridging the gap between functionality and design.
  </p>
</div>