<!-- <h1>Hi, <%= current_user.first_name  %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Post</h1>
# <%= @posts.inspect %>

<h1>Skills</h1>
# <%= @skills.inspect %> -->
<div class="text-left">
  <p class="lead">Hi, My name is, </p>
  <h1 class="cover-heading">Zakwan Bhaiyat.</h1>
  <h1 class="cover-heading">I build things for the web.</h1>
  <p class="lead">
    I'm a Full Stack Developer based in <span>New York, NY.</span> I
    focused on developing and designing products for the web, from
    simple landing pages to full-fledged web application.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
